doctype 5
html
  head
    title Todo Stuff
    link(rel='stylesheet', href="/stylesheets/bootstrap.css")
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .nav-collapse.collapse
            ul.nav
              li
                a(href='/') Home
              - if(locals.currentUser)
                li
                  a(href='/logout') Logout
                li
                  a(href='/todoLists') Todo Lists
              - else 
                li
                  a(href='/register') Register
                
    
    .container(style="margin-top:60px")
      block content