extends layout

block content
  form(action="/todoLists", method="post")
    input(type='text', placeholder='name', name='name')
    button.btn(type='submit') Submit
  - each todoList in todoLists
    p= todoList.name 
      | 
      a(href="/todoLists/"+todoList._id, class="btn") View
      | | 
      a(href="/todoLists/"+todoList._id+"/delete", class="btn btn-danger") Delete
