extends layout

block content
  h1= todoList.name
  form(action="/todoLists/"+todoList._id+"/items", method="post")
    input(type='text', placeholder='name', name='name')
    button.btn(type='submit') Submit
    
  div
    table.table
      thead
        tr
          th Description
          th Assignee
          th
      tbody
        - each todoListItem in todoListItems
          tr
            td 
              - if (todoListItem.complete)
                del=todoListItem.name
              - else
                =todoListItem.name
    
            td
              - each user in users
                - if (user._id == todoListItem.assignedUserId) 
                  = user.email
            td
              - if (todoListItem.complete)
                a(href="/todoListItems/"+todoListItem._id+"/reopen", class="btn btn-success") Reopen
              - else
                a(href="/todoListItems/"+todoListItem._id+"/complete", class="btn btn-success") Complete
              a(href="/todoListItems/"+todoListItem._id, class="btn") Edit
              a(href="/todoListItems/"+todoListItem._id+"/delete", class="btn btn-danger") Delete

  form(action="/todoLists/"+todoList._id, method="post")
    input(type="hidden", name="name", value=todoList.name)
    h2 Participants
    table
      - each user in users
        tr
          td(width=300)= user.email
          td
            - if (_.contains(todoList.participantIds,user._id.toString()))
              input(type="checkbox", name="user-"+user._id, checked="checked")
            - else
              input(type="checkbox", name="user-"+user._id)

        
    button.btn(type='submit') Submit





